@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Georgian&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  overflow-x: hidden;
  font-family: 'Noto Sans Georgian', sans-serif;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}

input[type='number']{
  width: 100%;
} 
